*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.logo{
    width: 200px;
}
.divNav{
    padding: 1rem;
    background-color: rgb(243, 229, 223);
}
.nav-link{
    text-align: center;
    background-color: rgba(219, 185, 170, 0.63);
    border-radius: .2rem;
    border: 2px solid rgb(139, 109, 84);
}
h1{
    background-color: rgba(219, 185, 170, 0.63);
    padding: 2.5rem;
    border-bottom: 10px solid rgb(139, 109, 84);
    margin: 0%;
}
main{
    background-color: rgb(243, 229, 223);
    padding: 1rem;
}
.formSearch img{
    width: 30px;
}
.navbar-toggler{
    margin: 1rem 0;
}
.card{
    padding: 0%;
    width: 18rem;
    background-color: rgb(248, 248, 248);
}
.card img{
    width: 95%;
    border-radius: .5rem;
    margin: .2rem;
}
.card-link{
    text-decoration: none;
    text-align: center;
    background-color: rgba(219, 185, 170, 0.63);
    border-radius: .2rem;
    border: 2px solid rgb(139, 109, 84);
    color: rgba(0, 0, 0, 0.55);
    padding: 0 .2rem;
}
.card-link:hover{
    color: rgb(61, 61, 61);
}