*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.logo{
    width: 200px;
}
.divNav{
    padding: 1rem;
    background-color: rgb(243, 229, 223);
}
h1{
    background-color: rgba(219, 185, 170, 0.63);
    padding: 2.5rem;
    border-bottom: 10px solid rgb(139, 109, 84);
    margin: 0%;
    color: #d90268;
}
main{
    min-height: 70vh;
    background-color: rgb(243, 229, 223);
    padding: 1rem;
}
.icon{
    width: 30px;
}
.navbar-toggler{
    margin: 1rem 0;
}
.cardsContainer{
    padding: 1rem;
    padding-top: 3rem;
}
.card{
    padding: 0%;
    height: 45vh;
    background-color: rgb(252, 228, 213);
}
.card img{
    width: 95%;
    height: 15vh;
    object-fit: cover;
    border-radius: .5rem;
    margin: .2rem;
}
.card-link{
    text-decoration: none;
    text-align: center;
    background-color: rgba(219, 185, 170, 0.63);
    border-radius: .2rem;
    border: 2px solid rgb(139, 109, 84);
    color: rgba(0, 0, 0, 0.55);
    padding: 0 .2rem;
}
.priceH6{
    color: #d90268;
}
.card-link:hover{
    color: rgb(61, 61, 61);
}
.formContainer{
    padding-top: 2rem;
}
.formContact{
    padding: 4rem 0;
}
#exampleFormControlTextarea1{
    resize: none;
}
.btn-primary{
    background-color: #d90268;
    border: .5px solid #6e0335;
}
.btn-primary:hover{
    background-color: #d63f86;
    border: .5px solid #fff;
}
.active{
    color: #d90268!important;
}
.bgTr{
    background-color: #d9026621!important;
    padding: .5rem!important;
    font-size: 1.2rem;
    border-bottom: 1px solid #6e033533;
    border-collapse: collapse;
}
.table{
    margin: 3rem 0;
}
.table td{
    border-collapse: collapse;
    padding: 1rem;
    border-bottom: 1px solid #6e033533;
}
.mainDetails{
    padding: 0%;
}
.cardDetail{
    margin: 3rem 0;
}
.sectionDetail{
    padding: 2rem;
    background-color: #d902660c;
}
.imgDetail{
    object-fit: cover;
    border-radius: .2rem;
    padding: 0;
}
.imgDetail, .sectionDetail{
    border: 1px solid #d902664f;
    border-radius: .2rem;
}
footer{
    padding: 3rem;
    background-color: rgba(219, 185, 170, 0.63);
    border-top: 10px solid rgb(139, 109, 84);
    font-size: 1.5rem;
    font-weight: 600;
    color: #d90268;
}